.TheLoaiSach {
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 1700px;
    .TheLoaiSach__tren {
        .TheLoaiSach__tren__link {
            text-decoration: none;
            color: rgb(141, 140, 140);
        }
    }

    .TheLoaiSach__duoi {
        display: flex;
        flex-direction: row;
        margin-top: 80px;

        .TheLoaiSach__duoi__luachon {
            display: flex;
            flex-direction: column;
            width: 320px;
            border: 1px solid #eee;
            border-radius: 15px;
            padding: 20px;

            .TheLoaiSach__duoi__luachon__title {
                font-size: 40px;
                font-weight: 800;
                color: #12152E;
                cursor: default;
            }

            .TheLoaiSach__duoi__luachon__sapxep {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .TheLoaiSach__duoi__luachon__sapxep__title {
                    h1 {
                        font-size: 20px;
                        color: #12152E;
                    }
                }

                .TheLoaiSach__duoi__luachon__sapxep__kieu {
                    margin-top: 10px;

                    .TheLoaiSach__duoi__luachon__sapxep__kieu__form {
                        width: 200px;
                        #TheLoaiSach__duoi__luachon__sapxep__kieu__ten{
                            background-color: white;
                        }
                    }
                }
            }

            .TheLoaiSach__duoi__luachon__nam {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                margin-bottom: 20px;

                .TheLoaiSach__duoi__luachon__nam__title {
                    h1 {
                        font-size: 20px;
                        color: #12152E;
                    }
                }

                .TheLoaiSach__duoi__luachon__nam__nambatdau {
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    align-items: center;
                    height: 30px;

                    h1 {
                        margin-right: 10px;
                        width: 100px;
                    }

                    input {
                        outline: 1px solid var(--main-color);
                        border-radius: 5px;
                        height: 30px;
                        padding: 0 10px;

                        &::placeholder {
                            padding: 0 20px;
                        }

                    }
                }

                .TheLoaiSach__duoi__luachon__nam__namketthuc {
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    height: 30px;
                    align-items: center;

                    h1 {
                        margin-right: 10px;
                        width: 100px;

                    }

                    input {
                        outline: 1px solid var(--main-color);
                        border-radius: 5px;
                        height: 30px;
                        padding: 0 10px;

                        &::placeholder {
                            padding: 0 20px;
                        }
                    }
                }
            }

            .TheLoaiSach__duoi__luachon__theloai {
                display: flex;
                flex-direction: row;
                align-items: center;
                .TheLoaiSach__duoi__luachon__theloai__title {
                    h1 {
                        font-size: 20px;
                        color: #12152E;
                        white-space: nowrap;
                    }
                    margin-right: 20px;
                }

                .TheLoaiSach__duoi__luachon__theloai__luachon {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    #theloais{
                        border: 1px solid rgb(209, 209, 209);
                        border-radius: 5px;
                        height: 50px;
                        width: 100px;
                    }
                    .TheLoaiSach__duoi__luachon__theloai__luachon__item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 150px;
                        color: #2E3046;
                        font-size: 18px;
                        cursor: pointer;

                        #TheLoaiSach__duoi__luachon__theloai__luachon__item__checkbox {
                            height: 25px;
                            width: 25px;
                            background-color: #eee;
                            border-radius: 50%;
                            margin-right: 10px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            accent-color: var(--main-color);
                        }
                    }
                }
            }

            .TheLoaiSach__duoi__luachon__gia {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .TheLoaiSach__duoi__luachon__gia__title {
                    h1 {
                        font-size: 20px;
                        color: #12152E;
                    }
                }

                .TheLoaiSach__duoi__luachon__gia__tu__den {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 10px;

                    h1 {
                        margin-right: 10px;
                    }

                    .TheLoaiSach__duoi__luachon__gia__tu__den__icon {
                        font-size: 20px;
                        color: var(--main-color);
                        margin: 0 10px;
                    }

                    .TheLoaiSach__duoi__luachon__gia__tu__den__input {
                        width: 60px;
                        margin-right: 10px;
                        outline: 1px solid var(--main-color);
                        border-radius: 5px;
                        padding: 0 5px;

                        &::placeholder {
                            padding: 0 5px;
                        }
                    }
                }
            }

            .TheLoaiSach__duoi__luachon__timkiem {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .TheLoaiSach__duoi__luachon__timkiem__timkiem {
                    background-color: var(--main-color);
                    color: white;
                    text-align: center;
                    padding: 20px 0;
                    border-radius: 15px;
                    margin-bottom: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #8e96e2;
                    }
                }

                .TheLoaiSach__duoi__luachon__timkiem__reset {
                    background-color: transparent;
                    color: rgb(143, 141, 141);
                    text-align: center;
                    padding: 20px 0;
                    border-radius: 15px;
                    font-weight: 600;
                    border: 1px solid rgb(143, 141, 141);
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(235, 210, 210);
                        color: #333;
                    }
                }
            }
        }

        .TheLoaiSach__duoi__danhsach {
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            position: relative;
            .TheLoaiSach__duoi__danhsach__title {
                h1 {
                    font-size: 30px;
                    color: #12152E;
                    font-weight: 800;
                }
            }

            .TheLoaiSach__duoi__danhsach__items {
                display: flex;
                flex-direction: column;
                height: 1448px;
                .TheLoaiSach__duoi__danhsach__item {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    border: 1px solid #eee;
                    padding: 20px;
                    border-radius: 15px;
                    margin-bottom: 20px;
                    transition: all 0.3s ease-in-out;
                    .TheLoaiSach__duoi__danhsach__item__link{
                        text-decoration: none   ;
                        cursor: pointer;
                    }
                    &:hover {
                        -webkit-box-shadow: 6px 8px 15px 0px rgba(108, 93, 212, 0.79);
                        box-shadow: 6px 8px 15px 0px rgba(108, 93, 212, 0.79);
                    }

                    .TheLoaiSach__duoi__danhsach__item__hinhanh {
                        width: 216px;
                        height: 300px;
                        position: relative;
                        margin-right: 40px;
                        border-radius: 15px;

                        img {
                            border-radius: 15px;
                            position: relative;
                            width: 216px;
                            height: 300px;
                            object-fit: cover;
                            transition: all 0.3s ease-in-out;
                            overflow: hidden;
                            cursor: pointer;

                            &:hover {
                                transform: scale(1.01);
                            }
                        }
                    }

                    .TheLoaiSach__duoi__danhsach__item__thongtin {
                        display: flex;
                        flex-direction: column;

                        .TheLoaiSach__duoi__danhsach__item__thongtin__tren {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            .TheLoaiSach__duoi__danhsach__item__thongtin__title {
                                display: flex;
                                flex-direction: column;

                                h1 {
                                    font-size: 30px;
                                    color: #12152E;
                                    font-weight: 600;
                                    margin-top: 5px;
                                    display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                }

                                .TheLoaiSach__duoi__danhsach__item__theloai {
                                    p {
                                        color: var(--main-color);
                                        margin-top: 5px;
                                    }
                                }
                            }

                            .TheLoaiSach__duoi__danhsach__item__thongtin__phai {
                                display: flex;
                                flex-direction: column;

                                .TheLoaiSach__duoi__danhsach__item__danhgia {
                                    display: flex;
                                    flex-direction: row;

                                    .TheLoaiSach__duoi__danhsach__item__danhgia__sao {
                                        color: #E1E1E1;

                                        &.active {
                                            color: #FF764C;
                                        }
                                    }
                                }

                                p {
                                    text-align: right;
                                    color: #12152E;
                                    font-weight: 700;
                                    margin-top: 5px;
                                }
                            }
                        }

                        .TheLoaiSach__duoi__danhsach__item__thongtin__desc {
                            p {
                                color: rgb(61, 61, 61);
                                font-weight: 500;
                                margin-top: 5px;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                font-size: 15px;
                                margin-bottom: 20px;
                            }
                        }

                        .TheLoaiSach__duoi__danhsach__item__thongtin__gia {
                            margin-bottom: 20px;

                            p {
                                font-size: 30px;
                                font-weight: 800;

                            }
                        }

                        .TheLoaiSach__duoi__danhsach__item__thongtin__duoi {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__trai {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__trai__tacgia {
                                    margin-right: 60px;

                                    h1 {
                                        color: rgb(170, 165, 165);
                                        font-weight: 400;
                                        text-align: left;
                                    }

                                    p {
                                        color: #333;
                                        font-weight: 600;
                                        text-align: center;
                                    }
                                }

                                .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__trai__nam {
                                    margin-right: 60px;

                                    h1 {
                                        color: rgb(170, 165, 165);
                                        font-weight: 400;
                                        text-align: left;
                                    }

                                    p {
                                        color: #333;
                                        font-weight: 600;
                                        text-align: center;
                                    }
                                }
                            }

                            .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__phai {
                                display: flex;
                                flex-direction: row;

                                .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__phai__nut {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    background-color: var(--main-color);
                                    padding: 20px 30px;
                                    border-radius: 15px;
                                    cursor: pointer;
                                    transition: all 0.3s ease-in-out;

                                    .TheLoaiSach__duoi__danhsach__item__thongtin__duoi__phai__nut__icon {
                                        color: white;
                                        margin-right: 5px;
                                    }

                                    p {
                                        color: white;
                                        font-weight: 600;
                                    }

                                    &:hover {
                                        background-color: #8e96e2;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}