.GioiThieu {
    margin: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 630px;

    .GioiThieu__trai {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 75%;
        overflow: hidden;

        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 630px;
            object-fit: cover;
            border-radius: 15px;
        }

        .GioiThieu__trai--thongtin {
            z-index: 2;
            display: flex;
            flex-direction: column;
            margin-top: 75px;
            margin-left: 80px;
            color: var(--main-color);
            width: 75%;
            max-width: 1000px;

            p {
                font-weight: 800;
                font-size: 20px;
                letter-spacing: .2rem;
                margin: 15px 0;
            }

            h1 {
                font-size: 50px;
                color: black;
                margin: 15px 0;
            }

            h2 {
                margin: 15px 0;
                color: #333;
                font-size: 35px;
                font-weight: 500;
            }

            h3 {
                color: #333;
                margin: 15px 0;
                font-weight: 500;
                max-width: 450px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

            }

            .GioiThieu__trai--thongtin--button {
                margin: 15px 0;
                display: flex;
                flex-direction: row;

                .GioiThieu__trai--buttonXemdanhsach {
                    background-color: var(--main-color);
                    color: white;
                    width: 200px;
                    height: 60px;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    box-shadow: 5px 14px 29px 3px rgba(108, 93, 212, 0.4);
                    margin-right: 10px;
                    font-weight: 500;

                    &:hover {
                        background-color: rgb(#6c5dd4, .4);
                        color: var(--main-color);
                    }
                }

                .GioiThieu__trai--buttonXemthem {
                    background-color: transparent;
                    border-radius: 15px;
                    border: 1px solid rgb(0, 0, 0, .3);
                    width: 200px;
                    height: 60px;
                    cursor: pointer;
                    font-weight: 500;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: rgb(#6c5dd4, .4);
                        color: var(--main-color);
                    }
                }

            }
        }
    }

    .GioiThieu__phai {
        display: flex;
        flex-direction: row;
        width: 23%;
        position: relative;

        .GioiThieu__phai--icon {
            position: absolute;
            z-index: 5;
            font-size: 40px;
            color: white;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                color: #6c5dd4;
            }

            &.trai {
                left: 0;
                top: 50%;
            }

            &.phai {
                right: 0;
                top: 50%;
            }
        }

        .GioiThieu__phai--sildeitem {
            display: none;
            flex-direction: column;
            width: 100%;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 15px;
            }   

            &.active {
                display: flex;
            }

            .GioiThieu__phai--sildeitem--hinhnen {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 15px;
                object-fit: cover;
                filter: blur(3px);

                img {
                    z-index: 1;
                }
            }

            .Gioithieu__phai--sildeitem--thongtin {
                z-index: 5;
                position: relative;
                align-items: center;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                color: white;
                justify-content: center;

                img {
                    width: 200px;
                    height: 280px;
                    border-radius: 15px;
                    border: 2px solid white;
                }

                h1 {
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 18px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 400;
                }

                .GioiThieu__phai--sildeitem--giatien {
                    width: 200px;
                    height: 60px;
                    border-radius: 15px;
                    margin-top: 20px;
                    font-weight: 800;
                    background-color: white;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: var(--main-color);
                        color: white;
                    }
                }
            }
        }

    }
}

.GioiThieu__duoi {
    display: flex;
    flex-direction: column;
    margin: 0 150px;

    .GioiThieu__duoi__tren {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .GioiThieu__duoi--item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25%;

        .GioiThieu__duoi__item__trai {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: 10px;

            .GioiThieu__duoi__item__trai--icon {
                font-size: 40px;
                padding: 10px;
                color: #6c5dd4;
                background-color: rgb(#998ee4, .4);
                border-radius: 15px;
            }
        }

        .GioiThieu__duoi__item__phai {
            h1 {
                font-size: 18px;
                font-weight: 700;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: #555;
                width: 75%;
            }
        }
    }

    .GioiThieu__duoi__duoi {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        .GioiThieu__duoi__duoi--decu{
            display: flex;
            flex-direction: column;
            width: 48%;
            border-radius: 15px;
            overflow: hidden;
            height: 425px;
            position: relative;
            transition: all .3s ease-in-out;
            margin-right: 30px;
            h1{
                color: black;
                margin-top: 60px;
                font-size: 30px;
                margin-left: 70px;
            }
            p{
                margin-top: 35px;
                margin-left: 70px;
                font-size: 16px;
                font-weight: 400;
                max-width: 450px;
            }
            .GioiThieu__duoi__duoi--decu--slide{
                display: flex;
                flex-direction: row;
                margin-left: 60px;
                margin-top: 50px;
                width: 600px;
                overflow: hidden;
                z-index: 2;
                position: relative;
                img{
                    cursor: pointer;
                    width: 130px;
                    height: 190px;
                    border-radius: 15px;
                    margin-right: 20px;
                    border: 3px solid white;
                }
                
            }
            &:hover{
                .GioiThieu__duoi__duoi--decu--button{
                    display: block;
                }
            }
            .GioiThieu__duoi__duoi--decu--button{
                    z-index: 3;
                    position: absolute;
                    color: #d17431;
                    font-size: 18px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    border-radius: 50%;
                    padding: 10px;
                    text-decoration: none;
                    right: 20px;
                    display: none;

                    
                }
        }
        .GioiThieu__duoi__duoi--phobien{
            display: flex;
            flex-direction: column;
            width: 48%;
            border-radius: 15px;
            overflow: hidden;
            height: 425px;
            position: relative;
            h1{
                color: black;
                margin-top: 60px;
                font-size: 30px;
                margin-left: 70px;
            }
            p{
                margin-top: 35px;
                margin-left: 70px;
                font-size: 16px;
                font-weight: 400;
                max-width: 450px;
                margin-right: 30px;
            }
            .GioiThieu__duoi__duoi--phobien--slide{
                display: flex;
                flex-direction: row;
                margin-left: 60px;
                margin-top: 50px;
                width: 600px;
                overflow: hidden;
                z-index: 2;
                position: relative;
                img{
                    cursor: pointer;
                    width: 130px;
                    height: 190px;
                    border-radius: 15px;
                    margin-right: 20px;
                    border: 3px solid white;
                }
                
            }
            &:hover{
                .GioiThieu__duoi__duoi--phobien--button{
                    display: block;
                }
            }
            .GioiThieu__duoi__duoi--phobien--button{
                    z-index: 3;
                    position: absolute;
                    color: #2b57e7;
                    font-size: 18px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    border-radius: 50%;
                    padding: 10px;
                    text-decoration: none;
                    right: 20px;
                    display: none;

                    
                }
        }
    }
}