.GioHangChiTiet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 150px;
  .GioHangChiTiet__trai {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: 70%;
    .GioHangChiTiet__trai__danhsach {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      position: relative;
      .GioHangChiTiet__trai__danhsach__title {
        h1 {
          font-size: 30px;
          color: #12152e;
          font-weight: 800;
        }
      }

      .GioHangChiTiet__trai__danhsach__items {
        display: flex;
        flex-direction: column;
        .GioHangChiTiet__trai__danhsach__item {
          display: flex;
          flex-direction: row;
          position: relative;
          border: 1px solid #eee;
          padding: 20px;
          border-radius: 15px;
          margin-bottom: 20px;
          transition: all 0.3s ease-in-out;
          .GioHangChiTiet__trai__danhsach__item__link {
            text-decoration: none;
            cursor: pointer;
          }
          &:hover {
            -webkit-box-shadow: 6px 8px 15px 0px rgba(108, 93, 212, 0.79);
            box-shadow: 6px 8px 15px 0px rgba(108, 93, 212, 0.79);
          }

          .GioHangChiTiet__trai__danhsach__item__hinhanh {
            width: 216px;
            height: 300px;
            position: relative;
            margin-right: 40px;
            border-radius: 15px;

            img {
              border-radius: 15px;
              position: relative;
              width: 216px;
              height: 300px;
              object-fit: cover;
              transition: all 0.3s ease-in-out;
              overflow: hidden;
              cursor: pointer;

              &:hover {
                transform: scale(1.01);
              }
            }
          }

          .GioHangChiTiet__trai__danhsach__item__thongtin {
            display: flex;
            flex-direction: column;

            .GioHangChiTiet__trai__danhsach__item__thongtin__tren {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 20px;

              .GioHangChiTiet__trai__danhsach__item__thongtin__title {
                display: flex;
                flex-direction: column;

                h1 {
                  font-size: 30px;
                  color: #12152e;
                  font-weight: 600;
                  margin-top: 5px;
                }

                .GioHangChiTiet__trai__danhsach__item__theloai {
                  p {
                    color: var(--main-color);
                    margin-top: 5px;
                  }
                }
              }

              .GioHangChiTiet__trai__danhsach__item__thongtin__phai {
                display: flex;
                flex-direction: column;

                .GioHangChiTiet__trai__danhsach__item__danhgia {
                  display: flex;
                  flex-direction: row;

                  .GioHangChiTiet__trai__danhsach__item__danhgia__sao {
                    color: #e1e1e1;

                    &.active {
                      color: #ff764c;
                    }
                  }
                }

                p {
                  text-align: right;
                  color: #12152e;
                  font-weight: 700;
                  margin-top: 5px;
                }
              }
            }

            .GioHangChiTiet__trai__danhsach__item__thongtin__desc {
              p {
                color: rgb(61, 61, 61);
                font-weight: 500;
                margin-top: 5px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 15px;
                margin-bottom: 20px;
              }
            }

            .GioHangChiTiet__trai__danhsach__item__thongtin__gia {
              margin-bottom: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              p {
                font-size: 30px;
                font-weight: 800;
                margin-right: 20px;
              }
              h1 {
                font-size: 20px;
              }
            }

            .GioHangChiTiet__trai__danhsach__item__thongtin__duoi {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__trai {
                display: flex;
                flex-direction: row;
                align-items: center;

                .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__trai__tacgia {
                  margin-right: 60px;

                  h1 {
                    color: rgb(170, 165, 165);
                    font-weight: 400;
                    text-align: left;
                  }

                  p {
                    color: #333;
                    font-weight: 600;
                    text-align: center;
                  }
                }

                .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__trai__nam {
                  margin-right: 60px;

                  h1 {
                    color: rgb(170, 165, 165);
                    font-weight: 400;
                    text-align: left;
                  }

                  p {
                    color: #333;
                    font-weight: 600;
                    text-align: center;
                  }
                }
              }

              .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__phai {
                display: flex;
                flex-direction: row;

                .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__phai__nut {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  background-color: var(--main-color);
                  padding: 20px 30px;
                  border-radius: 15px;
                  cursor: pointer;
                  transition: all 0.3s ease-in-out;

                  .GioHangChiTiet__trai__danhsach__item__thongtin__duoi__phai__nut__icon {
                    color: white;
                    margin-right: 5px;
                  }

                  p {
                    color: white;
                    font-weight: 600;
                  }

                  &:hover {
                    background-color: #8e96e2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .GioHangChiTiet__phai {
    width: 25%;
    margin-top: 80px;
    display: flex;
    height: fit-content;
    padding: 20px;
    flex-direction: column;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .GioHangChiTiet__phai__thanhtoan {
      background-color: var(--main-color);
      color: white;
      padding: 20px 30px;
      margin: 0 20px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-weight: 700;
      &:hover {
        background-color: #8e96e2;
      }
    }
  }
}
