.DangNhap {

    .DangNhap__giua {
        height:90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .DangNhap__giua__dangky {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                color: rgb(255, 255, 255);
                font-size: 40px;
                text-align: center;
                margin-top: 50px;
            }
            .DangNhap__giua__dangky__form {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .DangNhap__giua__dangky__form__item {
                    z-index: 2;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        label {
                            color: var(--main-color);
                        }
                    }
                    input {
                        width: 300px;
                        height: 65px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        border: 1px solid #7C6DE4;
                        padding: 0 20px;
                        font-size: 18px;
                        color: #F6F5FC;
                        font-weight: 400;
                        outline: none;
                        transition: all 0.3s;
                        background-color: #7C6DE4;

                        &:focus {
                            border: 1px solid var(--main-color);
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        }

                        &::placeholder {
                            color: #F6F5FC;
                            font-weight: 400;
                            font-size: 18px;
                        }
                    }

                    label {
                        background-color: #FFFFFF;
                        height: 65px;
                        width: 160px;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        align-items: center;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 700;
                        color: #2e2f38;
                        transition: all 0.3s ease-in-out;
                        
                    }
                }
            }
            .DangNhap__giua__dangky__link{
                text-decoration: none;
                 margin-top: 20px;
            }
            span{
                margin-bottom: 10px;
                color: rgb(255, 255, 255);
                cursor: pointer;
                text-decoration: none;
            }
           
            .DangNhap__giua__dangky__button{
                background-color: #F6F5FC;
                width: 300px;
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                cursor: pointer;
                font-size: 20px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: #998cf0;
                    color: white;
                }
            }
    
        }
    }

}